<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.user">

    <application>

        <activity android:name=".ativites.ExampleActivity" />


        <activity android:name=".ativites.UploadImageActivity" />
        <activity android:name=".ativites.PermissionActivity" />

        <activity android:name=".ativites.MediaActivity" />
        <activity android:name=".ativites.MainVideoActivity" />
        <activity android:name=".ativites.VideoPlayActivity" />


        <activity android:name=".ativites.UIActivity" />


    </application>





</manifest>