<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moudlea">

    <application
        android:name="com.moudlea.debug.ModuleAApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/iv_find_unchecked"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="com.moudlea.debug.AModuleMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
