<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.ui">

    <application>
        <activity android:name=".activity.CircleProgressActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.RulerViewActivity" />
        <activity android:name=".activity.PhotoGalleryActivity" />
        <activity android:name=".activity.HorizontalScrollViewActivity" />
        <activity android:name=".activity.RecyleViewTabActivity"/>
        <activity android:name=".activity.MoHuImageActivity"/>
        <activity android:name=".activity.TwoActivity"/>
        <activity android:name=".activity.StepActivity"/>

    </application>
</manifest>