<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.kt" >


    <application>

        <activity android:name=".activites.ZhuJieActivity" />
        <activity android:name=".activites.FragActivity" />
        <activity android:name=".activites.KotlinActivity"/>

    </application>
</manifest>
