<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.ui">

    <application>
        <activity android:name=".activity.CircleProgressActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.RulerViewActivity" />
        <activity android:name=".activity.PhotoGalleryActivity" />
        <activity android:name=".activity.HorizontalScrollViewActivity" />
        <activity android:name=".activity.RecycleViewTabActivity"/>
        <activity android:name=".activity.MoHuImageActivity"/>
        <activity android:name=".activity.TwoActivity"/>
        <activity android:name=".activity.StepActivity"/>
        <activity android:name=".activity.IndexActivity"/>
        <activity android:name=".activity.UIActivity" />
        <activity android:name=".activity.UploadImageActivity" />
        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.MediaActivity" />
        <activity android:name=".activity.MainVideoActivity" />
        <activity android:name=".activity.VideoPlayActivity" />
        <activity android:name=".activity.TabIndexActivity" />
        <activity android:name=".activity.MarqueeLayoutActivity" />






    </application>
</manifest>