<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moudlea">

    <application>

        <activity android:name="com.moudlea.AModuleActivity" />
        <activity android:name=".jetpack.viewmode.ViewModuleActivity" />
        <activity android:name=".jetpack.JetPackStudyActivity" />
        <activity android:name=".jetpack.lifecycles.LifeCyclesActivity" />
        <activity android:name=".jetpack.navigation.NaviActivity" />
        <activity android:name=".jetpack.room.RoomActivity" />
        <activity android:name=".jetpack.work.WorkActivity"/>
        <activity android:name=".rxjava.RxActivity"/>
        <activity android:name=".jetpack.mvvm.MVVMActivity"/>
    </application>

</manifest>
