<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moudlea">

    <application>

        <activity android:name="com.moudlea.AModuleActivity" />
        <activity android:name=".jetpackStudy.viewmode.ViewModuleActivity" />
        <activity android:name=".jetpackStudy.JetPackStudyActivity" />
        <activity android:name=".jetpackStudy.lifecycles.LifeCyclesActivity" />
        <activity android:name=".jetpackStudy.navigation.NaviActivity" />
        <activity android:name=".jetpackStudy.room.RoomActivity" />
        <activity android:name=".jetpackStudy.work.WorkActivity"/>
        <activity android:name=".rxjava.RxActivity"/>
    </application>

</manifest>
